.compo-head {
    margin-left: 270px;
    border: 1px solid #e2dede;
    height: 50px;
    width: 600px;
    position: relative;
    top: 80px;
    display: flex;
    background-color: white;
    margin-bottom: -10px;
  }
  .compo {
    margin-top: 10px;
  }
  .avt {
    border: 1px solid #ececec;
    height: 30px;
    width: 30px;
    margin-top: 15px !important;
    border-radius: 15px;
    margin-left: 10px !important;
    background-position: center;
    background-size: cover;
  }
  .compo-name {
    margin-left: 12px;
    margin-top: 10px;
  }
  
  .name-id {
    color: black;
  }
  .more {
    margin-left: 420px;
    margin-top: 10px;
  }
  
  .compo-body {
    margin-left: 270px;
    border: 1px solid #e2dede;
    margin-top: 90px;
    margin-bottom: 0px;
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  
  .compo-end {
    border: 1px solid #e2dede;
    width: 600px;
    height: 190px;
    margin-left: 270px;
    border-bottom-style: none;
    text-align: initial;
  }
  .input-comment {
    border: 1px solid #e2dede;
    height: 50px;
    width: 596px;
    margin-left: -1px;
    background-color: #f8f8f8;
  }
  
  .icon-body {
    margin-top: 18px;
  }
  .heart-body {
    margin-left: 13px;
  }
  .comment-body {
    margin-left: 13px;
  }
  .share-body {
    margin-left: 13px;
  }
  .book-body {
    margin-left: 550px;
    position: relative;
    top: -30px;
  }
  
  .com-body {
    position: relative;
    top: -10px;
  }
  .count {
    margin-left: 13px;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .see-com {
    margin-left: 13px;
    font-size: 14px;
  }
  
  .time {
    margin-left: 13px;
    font-size: 12px;
    margin-top: 5px;
    color: gray;
  }
  
  .ant-btn {
    background-color: #f8f8f8 !important;
    border-color: #f8f8f8 !important;
    top: -5px;
  }
  